nbproject/
.idea/
composer.phar
composer.lock
.DS_STORE
cache.properties

.env
env.php
src/Config/env.php
src/Config/environment.php

vendor/
build/
bin/schema.php
bin/schema.json

tests/*_test1.php
tests/phinx.php
tests/schema.php
bin/phinx.php
tests/diffs/actual.php