nbproject/
.idea/
composer.phar
composer.lock
.DS_STORE
cache.properties

.env
env.php

vendor/
build/
bin/schema.php
bin/schema.json

tests/*_test1.php
#tests/TestCase/phinx.php
tests/TestCase/schema.php
bin/phinx.php
tests/diffs/actual.php
.phpunit.result.cache
